h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Poppins;
}

p {
	font-family: Roboto;
}

.subject-selected {
	background-color: #ba00008f;
	opacity: 0.8;
}

.page-selected {
	background-color: #ba0000c7;
	opacity: 0.7;
}

.btn:focus,
.btn:active {
	box-shadow: none;
}

body .content {
	font-family: Roboto;
}

body .navbar-custom {
	background-color: #ac0000c7;
	border-color: #c0392b;
	border-bottom: 3px solid #038c87;
	width: 100%;
	font-family: poppins;
}

body .navbar-custom .navbar-brand {
	color: #ffffffcc;
}

body .navbar-custom .navbar-brand:focus,
body .navbar-custom .navbar-brand:hover {
	color: #ffffff;
}

body .navbar-custom .navbar-text {
	color: #d7e2e9;
}

body .navbar-custom .navbar-nav li a {
	color: #d7e2e9;
}

body .navbar-custom .navbar-nav li a:hover {
	color: #ffffff;
	background-color: #cc1400 !important;
}

body .navbar-custom .navbar-nav li a.highlight:hover,
body .navbar-custom .navbar-nav li a:active {
	color: #ffffff;
	background-color: #ba0000c7;
}

body .navbar-custom .navbar-nav li div a {
	text-decoration: none !important;
	color: #d7e2e9;
}

body .navbar-custom .navbar-nav li div a .btn {
	color: #d7e2e9 !important;
	background-color: #ac0000c7 !important;
}

body .navbar-custom .navbar-nav li div .dropdown-menu {
	background-color: #ac0000c7;
}

body .navbar-custom .navbar-nav li div .dropdown-menu .divider {
	background-color: #ac0000c7;
}

body .navbar-custom .navbar-nav li div .dropdown-menu a {
	color: #d7e2e9;
}

body .navbar-custom .navbar-nav li div .dropdown-menu a:hover {
	color: #ffffff;
	background-color: #ba0000c7;
}

body .navbar-custom .navbar-toggle {
	border-color: #038c87;
}

body .navbar-custom .navbar-toggle :focus,
body .navbar-custom .navbar-toggle :hover {
	background-color: #ffffff;
}

body .navbar-custom .navbar-toggle .icon-bar {
	background-color: #d7e2e9;
}

body .navbar-custom .navbar-collapse,
body .navbar-custom .navbar-form {
	border-color: #038c87;
}

body .navbar-custom .custom-toggler {
	margin: 1px;
	border-color: #ffffffcc;
	color: #ffffffcc;
}

body .navbar-custom .custom-toggler:hover {
	background-color: #ba0000c7;
	border-color: #038c87;
	color: #d7e2e9;
}

body div div a {
	color: #ba0000c7;
}

body div div a:hover {
	text-decoration: none;
	color: #f07b27;
}

body .footer {
	background-color: #e03e52;
	border-color: #038c87;
	text-align: center;
	color: #d7e2e9;
	width: 100%;
}

body .footer a {
	color: #d7e2e9;
	text-decoration: none;
}

body .footer a:hover {
	color: #ffffff;
}

/* custom */
.main-color-bg {
	background-color: #e74c3c !important;
	border-color: #c0392b !important;
	color: #ffffff;
}

/* Header */
#header {
	background: #e03e52;
	color: #e1e1e1;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0;
}

#header div#dropdown-menu {
	background-color: #e74c3c;
}

#header div#dropdown-menu .divider {
	background-color: #ac0000c7;
}

#header div#dropdown-menu a {
	color: #d7e2e9;
}

#header div#dropdown-menu a:focus,
#header div#dropdown-menu a:hover {
	color: #ffffff;
	background-color: #cc1400;
}

/* breadcrumb */
.breadcrumb {
	background: #cccccc;
	color: #333333;
	margin-top: 10px;
}

.breadcrumb a {
	color: #333333;
	background-color: none !important;
}

/* progress */
.progress-bar {
	border: 1px solid #e74c3c;
	background: #333333;
	color: #ffffff;
}

.stats {
	border: 1px solid #cccccc;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dash-card {
	text-align: center;
}

.card-table {
	margin-top: 10px;
}

@media (max-width: 3999px) {
	#page {
		font-size: 1.9em !important;
	}
}

@media (max-width: 2999px) {
	#page {
		font-size: 1.7em !important;
	}
}

@media (max-width: 1999px) {
	#page {
		font-size: 1.5em !important;
	}
}

@media (max-width: 1599px) {
	#page {
		font-size: 1em !important;
	}
}

@media (max-width: 1199px) {
	#page {
		font-size: 1em !important;
	}
}

@media (max-width: 992px) {
	body table tr .hide-btn {
		display: none;
	}
	#page {
		font-size: 1em !important;
	}
	#page h4, #page h5, #page h6 {
		font-size: 1.5em !important;
	}
	#page h1, #page h2, #page h3 {
		font-size: 1.8em !important;
	}
}

@media (max-width: 576px) {
	body table tr .hide-btn,
	body table tr .hide-id,
	body table tr .hide-visible,
	body table tr .hide-name {
		display: none;
	}
	#page {
		font-size: 0.9em !important;
	}
	#page h4, #page h5, #page h6 {
		font-size: 1.5em !important;
	}
	#page h1, #page h2, #page h3 {
		font-size: 1.8em !important;
	}
}

@media (max-width: 376px) {
	body table tr .hide-btn,
	body table tr .hide-id,
	body table tr .hide-visible,
	body table tr .hide-position,
	body table tr .hide-name {
		display: none;
	}
	#page {
		font-size: .8em !important;
	}
	#page h4, #page h5, #page h6 {
		font-size: 1.5em !important;
	}
	#page h1, #page h2, #page h3 {
		font-size: 1.8em !important;
	}
}
