$default-text-color: #000000;
$text-color: #d7e2e9;
$link-color: #d7e2e9;
$link-hover-focus-color: #ffffff;
$link-active-highlight-hover-focus-color: #ba0000c7;
$link-active-highlight-background-color: #ba0000c7;
$link-background-color: #ba0000c7;
$nav-background-color: #ac0000c7;
$border-color: #007599; //  navbar only #333333 dark color
$button-background-color:#e74c3c;
$button-border-color:#c0392b;
$header-background:#e03e52;
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins;
}

p {
    font-family: Roboto;
}

.selected {
  color: #f07b27!important;
}

.btn:focus,
.btn:active {
    box-shadow: none;
}

body .content {
    font-family: Roboto;
}

body .navbar-custom {
    background-color: $nav-background-color;
    border-color: #c0392b;
    border-bottom: 3px solid $border-color;
    width: 100%;
    font-family: poppins;
    .navbar-brand {
        color: #ffffffcc;
    }
    .navbar-brand:focus,
    .navbar-brand:hover {
        color: #ffffff;
    }
    .navbar-text {
        color: #d7e2e9;
    }
    .navbar-nav {
        li {
            a {
                color: $link-color;
            }
            a:focus,
            a:hover {
                color: $link-hover-focus-color;
                background-color: #cc1400 !important;
            }
            a.highlight:focus,
            a.highlight:hover,
            a:active {
                color: $link-hover-focus-color;
                background-color: $link-active-highlight-background-color;
            }
            div {
                a {
                    text-decoration: none !important;
                    color: $link-color;
                    .btn {
                        color: #d7e2e9 !important;
                        background-color: $nav-background-color !important;
                    }
                }
                .dropdown-menu {
                    background-color: $nav-background-color;
                    .divider {
                        background-color: $nav-background-color;
                    }
                    a {
                        color: $link-color;
                    }
                    a:focus,
                    a:hover {
                        color: #ffffff;
                        background-color: $link-background-color;
                    }
                }
            }
        }
    }
    .navbar-toggle {
        border-color: $border-color;
        :focus,
        :hover {
            background-color: $link-hover-focus-color;
        }
        .icon-bar {
            background-color: #d7e2e9;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $border-color;
    }
    .custom-toggler {
        margin: 1px;
        border-color: #ffffffcc;
        color: #ffffffcc;
    }
    .custom-toggler:hover {
        background-color: $link-active-highlight-background-color;
        border-color: $border-color;
        color: $text-color;
    }
}

// body
body {
    .content table,
    .content form {
        a:focus,
        a:hover {
            color: $link-hover-focus-color;
            background-color: $link-background-color;
        } // for <a class="btn">
        a {
            color: $link-color;
            background-color: $button-background-color;
            border-color: $button-border-color;
        }
        button.btn:focus,
        button.btn:hover {
            color: $link-hover-focus-color;
            background-color: $link-background-color;
        }
        button.btn {
            color: $link-hover-focus-color;
            background-color: $button-background-color;
            border-color: $button-border-color;
        }
    }
    table {
        tr {
            text-align: center;
        }
    } // form select {
    //     option {
    //         color: #000000;
    //         background-color: $button-background-color;
    //         opacity: .8;
    //     }
    //     option:hover {
    //         color: $link-hover-focus-color!important;
    //         background-color: $link-background-color!important;
    //     }
    // }
    div div a {
        color: $link-color;
    }
    div div a:focus,
    div div a:hover {
        text-decoration: none;
        color: $link-hover-focus-color;
        background-color: $link-background-color;
    }
    .footer {
        background-color: $header-background;
        border-color: $border-color;
        text-align: center;
        color: $text-color;
        width: 100%;
        a {
            color: $link-color;
            text-decoration: none;
        }
        a:hover {
            color: $link-hover-focus-color;
        }
    }
}

/* custom */

.main-color-bg {
    background-color: #e74c3c !important;
    border-color: #c0392b !important;
    color: #ffffff;
}

/* Header */

#header {
    background: $header-background;
    color: #e1e1e1;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    div#dropdown-menu {
        background-color: #e74c3c;
        .divider {
            background-color: $header-background;
        }
        a {
            color: $link-color;
        }
        a:focus,
        a:hover {
            color: $link-hover-focus-color;
            background-color: #cc1400;
        }
    }
}

/* breadcrumb */

.breadcrumb {
    background: #cccccc;
    color: #333333;
    margin-top: 10px;
    a {
        color: #333333;
        background-color: none !important;
    } // a.btn:hover,
    // a.btn.highlight:hover,
    // a.btn.highlight:active,
    // a.btn.highlight:focus {
    //     background-color: none !important;
    //     text-decoration: underline !important;
    // }
}

/* progress */

.progress-bar {
    border: 1px solid #e74c3c;
    background: #333333;
    color: #ffffff;
}

.stats {
    border: 1px solid #cccccc;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dash-card {
    text-align: center;
}

.card-table {
    margin-top: 10px;
}

// .content-main {
//     margin-top: 10px;
// }
@media (max-width: 992px) {
    body {
        table {
            tr .hide-btn {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {
    body {
        table {
            tr .hide-btn,
            tr .hide-id,
            tr .hide-visible,
            tr .hide-name {
                display: none;
            }
        }
    }
}

@media (max-width: 376px) {
    body {
        table {
            tr .hide-btn,
            tr .hide-id,
            tr .hide-visible,
            tr .hide-position,
            tr .hide-name {
                display: none;
            }
        }
    }
}
