$default-text-color: #000000;
$text-color: #d7e2e9;
$link-color: #d7e2e9;
$link-hover-focus-color: #ffffff;
$link-active-highlight-hover-focus-color: #ba0000c7;
$link-active-highlight-background-color: #ba0000c7;
$link-background-color: #ba0000c7;
$nav-background-color: #ac0000c7;
$border-color: #ffffffcc; //  navbar only

body .navbar-custom {
  background-color: $nav-background-color;
  border-color: $border-color;
  // opacity: 0.8;
  border-bottom: #425766 3px solid;
  // position: absolute;
  width: 100%;

  .navbar-brand {
    color: #ffffffcc;
  }

  .navbar-brand:focus,
  .navbar-brand:hover {
    color: #ffffff;
  }

  .navbar-text {
    color: #d7e2e9;
  }

  .navbar-nav {
    li {
      a {
        color: $link-color;
      }

      a:focus,
      a:hover {
        color: $link-hover-focus-color;
        background-color: $link-background-color!important;
      }

      a.highlight:focus,
      a.highlight:hover,
      a:active {
        color: $link-hover-focus-color;
        background-color: $link-active-highlight-background-color;
      }

      div {
        a {
          text-decoration: none!important;
          color: $link-color;

          .btn {
            color: #d7e2e9 !important;
            background-color: $nav-background-color !important;
          }
        }

        .dropdown-menu {
          background-color: $nav-background-color;

          .divider {
            background-color: $nav-background-color;
          }

          a {
            color: $link-color;
          }

          a:focus,
          a:hover {
            color: #ffffff;
            background-color: $link-background-color;
          }
        }
      }
    }
  }

  .navbar-toggle {
    border-color: $border-color;

    :focus,
    :hover {
      background-color: $link-hover-focus-color;
    }

    .icon-bar {
      background-color: #d7e2e9;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $border-color;
  }

  .custom-toggler {
    margin: 1px;
    border-color: #ffffffcc;
    color: #ffffffcc;
  }

  .custom-toggler:hover {
    background-color: $link-active-highlight-background-color;
    border-color: $border-color;
    color: $text-color;
  }
}
// body

body {
  div div a {
    color: $link-color;
  }

  table {
    tr {
      text-align: center;
    }

    a:focus,
    a:hover {
      color: $link-hover-focus-color;
      background-color: $link-background-color;
    }

    a {
      color: $link-color;
      background-color: #e74c3c;
      border-color: #c0392b;
    }
  }

  div div a:focus,
  div div a:hover {
    text-decoration: none;
    color: $link-hover-focus-color;
    background-color: $link-background-color;
  }

  .content {
    // padding-top: 43px;

    .header {
      background-color: #81B3D5;
    }
  }

  .footer {
    background-color: #333333;
    border-color: $border-color;
    text-align: center;
    color: $text-color;
    width: 100%;

    a {
      color: $link-color;
      text-decoration: none;
    }

    a:hover {
      color: $link-hover-focus-color;
    }
  }
}
/* custom */
.main-color-bg {
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color: #ffffff;
}
/* Header */
#header {
  background: #e74c3c;
  color: #e1e1e1;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 0;
}
/* breadcrumb */
.breadcrumb {
  background: #cccccc;
  color: #333333;
  margin-top: 10px;
}

.breadcrumb a {
  color: #333333;
}
/* progress */
.progress-bar {
  border: 1px solid #e74c3c;
  background: #333333;
  color: #ffffff;
}

.stats {
  border: 1px solid #cccccc;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dash-card {
  text-align: center;
}

.card-table {
  margin-top: 10px;
}

.content-main {
  margin-top: 8px;
}
@media (max-width: 992px) {
  body {
    table {
      tr .hide-btn {
        display: none;
      }
      tr {

      }
    }
  }
}

@media (max-width: 576px) {
  body {
    table {

      tr .hide-btn,
      tr .hide-id,
      tr .hide-name {
        display: none;
      }
    }
  }
}
